<!-- Footer Start -->
<div class="container-fluid bg-dark text-light mt-5 py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    {{settingData.siteName}}</h4>
                <p class="mb-4">{{settingData.siteName}} is committed to providing compassionate, high-quality
                    healthcare with advanced
                    medical technology and experienced specialists. We focus on patient-centered treatment, preventive
                    care, and trusted medical services to help individuals and families lead healthier lives.</p>
                <a class="mb-2 d-block" href="{{settingData.siteMap1}}" target="_blank"><i
                        class="fa fa-map-marker-alt text-primary me-3"></i>{{settingData.siteAddress}}</a>
                <a class="mb-2 d-block" href="mailto:{{settingData.siteEmail}}" target="_blank"><i
                        class="fa fa-envelope text-primary me-3"></i>{{settingData.siteEmail}}</a>
                <a class="mb-2 d-block" href="tel:{{settingData.sitePhone}}" target="_blank"><i
                        class="fa fa-phone text-primary me-3"></i>{{settingData.sitePhone}}</a>
                <a class="mb-2 d-block" href="https://wa.me/{{settingData.siteWhatsapp}}" target="_blank"><i
                        class="bi bi-whatsapp text-primary me-3"></i>{{settingData.siteWhatsapp}}</a>
            </div>
            <div class="col-lg-2 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Quick Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" routerLink="/"><i class="fa fa-angle-right me-2"></i>Home</a>
                    <a class="text-light mb-2" routerLink="/about"><i class="fa fa-angle-right me-2"></i>About Us</a>
                    <a class="text-light mb-2" routerLink="/service"><i class="fa fa-angle-right me-2"></i>Services</a>
                    <a class="text-light mb-2" routerLink="/package"><i class="fa fa-angle-right me-2"></i>Package</a>
                    <a class="text-light mb-2" routerLink="/doctor"><i class="fa fa-angle-right me-2"></i>Doctors</a>
                    <a class="text-light mb-2" routerLink="/appointment"><i
                            class="fa fa-angle-right me-2"></i>Appointment</a>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Popular Links</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2" routerLink="/contact"><i class="fa fa-angle-right me-2"></i>Contact</a>
                    <a class="text-light mb-2" routerLink="/testimonial"><i
                            class="fa fa-angle-right me-2"></i>Testimonial</a>
                    <a class="text-light mb-2" routerLink="/data-policy"><i class="fa fa-angle-right me-2"></i>Data
                        Policy</a>
                    <a class="text-light mb-2" routerLink="/tc"><i class="fa fa-angle-right me-2"></i>Terms
                        Conditions</a>
                    <a class="text-light mb-2" routerLink="/privacy-policy"><i
                            class="fa fa-angle-right me-2"></i>Privacy Policy</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <h4 class="d-inline-block text-primary text-uppercase border-bottom border-5 border-secondary mb-4">
                    Newsletter</h4>
                <h5 class="text-light">Stay Updated with Our Health Newsletter</h5>
                <p>Subscribe to the {{settingData.siteName}} newsletter to receive the latest health tips, wellness
                    advice, medical updates, and hospital news.</p>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3 border-0" placeholder="Your Email Address">
                        <button class="btn btn-primary text-dark">Subscribe</button>
                    </div>
                </form>
                <h6 class="text-primary text-uppercase mt-4 mb-3">Follow Us</h6>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                        href="{{settingData.siteTwitter}}"><i class="text-dark fab fa-twitter"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                        href="{{settingData.siteFacebook}}"><i class="text-dark fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                        href="{{settingData.siteLinkedin}}"><i class="text-dark fab fa-linkedin-in"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                        href="{{settingData.siteYoutube}}"><i class="text-dark fab fa-youtube"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle"
                        href="{{settingData.siteInstagram}}"><i class="text-dark fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light border-top border-secondary py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">&copy; <a class="text-primary" href="">{{settingData.siteName}}</a>. All Rights
                    Reserved.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->