<!-- Topbar Start -->
<div class="container-fluid py-2 border-bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-decoration-none text-body px-2" href="{{settingData.siteMap1}}" target="_blank">
                        <i class="bi bi-geo-alt me-2"></i><span class="d-none d-xl-inline-block">{{settingData.siteAddress}}</span></a>
                    <a class="text-decoration-none text-body px-2" href="mailto:{{settingData.siteEmail}}" target="_blank">
                        <i class="bi bi-envelope me-2"></i><span class="d-none d-xl-inline-block">{{settingData.siteEmail}}</span></a>
                    <a class="text-decoration-none text-body px-2" href="tel:{{settingData.sitePhone}}" target="_blank">
                        <i class="bi bi-telephone me-2"></i><span class="d-none d-xl-inline-block">{{settingData.sitePhone}}</span></a>
                    <a class="text-decoration-none text-body px-2" href="https://wa.me/{{settingData.siteWhatsapp}}" target="_blank">
                        <i class="bi bi-whatsapp me-2"></i><span class="d-none d-xl-inline-block">{{settingData.siteWhatsapp}}</span></a>
                </div>
            </div>
            <div class="col-lg-4 col-6 text-center text-lg-end">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body px-2" href="{{settingData.siteFacebook}}" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-body px-2" href="{{settingData.siteTwitter}}" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="text-body px-2" href="{{settingData.siteLinkedin}}" target="_blank">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="text-body px-2" href="{{settingData.siteInstagram}}" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-body ps-2" href="{{settingData.siteYoutube}}" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div class="container-fluid sticky-top bg-white shadow-sm">
    <div class="container">
        <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
            <a routerLink="/" class="navbar-brand">
                <h1 class="m-0 text-uppercase text-primary"><i class="fa fa-clinic-medical me-2"></i>{{settingData.siteName}}</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a routerLink="/" class="nav-item nav-link active">Home</a>
                    <a routerLink="/about" class="nav-item nav-link">About</a>
                    <a routerLink="/service" class="nav-item nav-link">Service</a>
                    <a routerLink="/package" class="nav-item nav-link">Package</a>
                    <a routerLink="/doctor" class="nav-item nav-link">Doctor</a>
                    <a routerLink="/testimonial" class="nav-item nav-link">Testimonial</a>
                    <a routerLink="/appointment" class="nav-item nav-link">Appointment</a>
                    <a routerLink="/contact" class="nav-item nav-link">Contact</a>
                    <a routerLink="/admin" class="nav-item nav-link">Admin</a>
                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="detail.html" class="dropdown-item">Blog Detail</a>
                            <a href="team.html" class="dropdown-item">The Team</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            <a href="appointment.html" class="dropdown-item">Appointment</a>
                            <a href="search.html" class="dropdown-item">Search</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Navbar End -->