<div class="list-group">
    <a routerLink="/admin" class="list-group-item list-group-item-action active mb-1" aria-current="true">
        <i class="bi bi-house fs-5"></i>
        <span class="float-end">Home</span>
    </a>
    <a routerLink="/admin/service" class="list-group-item list-group-item-action active mb-1" aria-current="true">
        <i class="bi bi-tag fs-5"></i>
        <span class="float-end">Service</span>
    </a>
    <a routerLink="/admin/package" class="list-group-item list-group-item-action active mb-1" aria-current="true">
        <i class="bi bi-cash fs-5"></i>
        <span class="float-end">Package</span>
    </a>
    <a routerLink="/admin/department" class="list-group-item list-group-item-action active mb-1" aria-current="true">
        <i class="bi bi-building fs-5"></i>
        <span class="float-end">Department</span>
    </a>
    <a routerLink="/doctor" class="list-group-item list-group-item-action active mb-1" aria-current="true">
        <i class="bi bi-person fs-5"></i>
        <span class="float-end">Doctor</span>
    </a>
    <a routerLink="/testimonial" class="list-group-item list-group-item-action active mb-1" aria-current="true">
        <i class="bi bi-star fs-5"></i>
        <span class="float-end">Testimonial</span>
    </a>
    <a routerLink="/appointment" class="list-group-item list-group-item-action active mb-1" aria-current="true">
        <i class="bi bi-list fs-5"></i>
        <span class="float-end">Appointment</span>
    </a>
    <a routerLink="/newsletter" class="list-group-item list-group-item-action active mb-1" aria-current="true">
        <i class="bi bi-envelope fs-5"></i>
        <span class="float-end">Newsletter</span>
    </a>
    <a routerLink="/contact" class="list-group-item list-group-item-action active mb-1" aria-current="true">
        <i class="bi bi-telephone fs-5"></i>
        <span class="float-end">Contact Us</span>
    </a>
    <a routerLink="/user" class="list-group-item list-group-item-action active mb-1" aria-current="true">
        <i class="bi bi-people fs-5"></i>
        <span class="float-end">User</span>
    </a>
</div>